<div class="container">
	<div class="row">	
		<div class="responsive">
			<div class="container col-lg-12">		
				<table class="brand_list" align="center">
				<h1 class="text-center" style="margin-bottom:25pt">List of Brands</h1>	
				<tr>
					<th>Brand Name</th>
					<th>Brand Description</th>
				</tr>
				{{#each rows}}
				<tr>
					<td width="25%">{{this.brand_name}}</td>
					<td width="75%">{{this.brand_description}}</td>					
				</tr>
				{{/each}}
				</table>
			 </div>
		</div>		
	</div>
</div>