<!DOCTYPE html>
<html height="100%">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Team 6</title>

<style>
.foot {
	position: fixed;
	bottom: 0px;
	height: 20px;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
</style>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
	<a class="navbar-brand mb-0 h1" href="/"><img src="/images/teamsix.png" alt="Team 6" height="50px" class="d-inline-block align-top"></a>
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/member/Benz">Benjamin</a>
        <a class="nav-item nav-link" href="/member/Gerald">Gerald</a>
		<a class="nav-item nav-link" href="/Products">Products</a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <a class="nav-item nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </div>
    </div>
  </div>
</nav>
</head>

<body>

    {{{body}}}

</body>
<nav class="navbar fixed-bottom navbar-light bg-light">
	<p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
</nav>
</html>