<!DOCTYPE html>
<html height="100%">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Team 6</title>

<style>
</style>

<nav class="navbar navbar-inverse navbar-static-top navbar-expand-sm navbar-dark">
  <div class="container">
	<a class="navbar-brand mb-0 h1" href="/"><img src="/images/teamsix.png" alt="Team 6" height="50px" class="d-inline-block align-top"></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>                      
      </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="active" href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="/member/Benz">Benjamin</a></li>
        <li class="nav-item"><a href="/member/Gerald">Gerald</a></li>
		<li class="nav-item"><a href="/Products">Products</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
</head>

<body>

    {{{body}}}

</body>
<nav style="position: fixed; height: 20px;width: 100%;background-color: black;color: white; text-align: center;"><!-- class="navbar fixed-bottom navbar-light bg-dark" -->
	<p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
</nav>
</html>