<!DOCTYPE html>
<html height="100%">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Team 6</title>

<style>
.foot {
	position: fixed;
	left: 0;
    bottom: 0;
	right: 0px;
	height: 20px;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
</style>
<a class="navbar-brand mb-0" href="/"><img src="/images/teamsix.png" alt="Team 6" height="50px" class="d-inline-block align-right"></a>
<nav class="navbar navbar-inverse navbar-expand-sm navbar-dark navbar-static-top" role="navigation">
	
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar3">
        <span class="navbar-toggle-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar3">
        <ul class="nav navbar-nav nav-pills">
            <li class="active"><a data-toggle="pills" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a data-toggle="pills" href="/member/Benz">Benjamin<span class="sr-only">(current)</span></a></li>
            <li><a data-toggle="pills" href="/member/Gerald">Gerald<span class="sr-only">(current)</span></a></li>
			<li><a data-toggle="pills" href="/Products">Products<span class="sr-only">(current)</span></a></li>
        </ul>
		<ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
    </div>
</nav>

</head>

<body>

    {{{body}}}

</body>
<div>
<footer class="foot">
	<p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
</footer>
</div>
</html>