<div class="create_product">
<div class="container">
	 <form method="POST" action="/brand/create/saving">
	 	<h1 align="center">Brand Information</h1>

	 	<div class="row">   
      		<div class="col-25">
       		 <label for="brand_name">Brand Name:</label>
     	 </div>
      		<div class="col-75">
       		 <input id="brand_name" name="brand_name" type="text" placeholder="Brand Name" required >
     		</div>
    	</div>

    	<div class="row">   
      		<div class="col-25">
       		 <label for="brand_description">Description:</label>
     	 </div>
      		<div class="col-75">
      			<textarea id="brand_description" name="brand_description" type="text" laceholder="Write your description" style="height:200px"></textarea>
     		</div>
    	</div>

    	<div class="row">
      		<div class="text-center" style="margin-top:25pt">
                <button type="submit" class="btn btn-primary btn-lg" title="Submit">Submit</button>
      		</div>
   		 </div>

		</form>
	</div>
</div>