<div class="modal-body mx-auto white-text" style="width: 80%">
	<form method="POST" action="/category/creating">
    			<div class="controls">

    				<div class="form-group">
    				<label class="control-label" for="name">Category Name</label>
    				<div>
						<input id="category_name" name="category_name" type="text" placeholder="Category Name" class="form-control" required >
					</div>
					</div>

					<div class="form-group">
					<div class="text-center">
						<button type="submit" class="btn btn-primary btn-lg" title="Submit">Submit</button>
					</div>
					</div>

			</div>
	</form>
</div>