<div class="container-fluid">
	<div class="row">
		<div class="centered">
		    		<form method="POST" action="/product/create/saving">
		    			<div class="controls">

		    				<div class="form-group">
		    				<label class="control-label" for="name">Product Name</label>
		    				<div>
								<input id="product_name" name="product_name" type="text" placeholder="Product Name" class="form-control" required >
							</div>
							</div>

							<div class="form-group">
							<label class="control-label" for="phone">Category</label>
							<div>
								<select id="category_name" name="category_name">
								{{#each rows.[0]}}
									<option value="{{this.category_id}}">{{this.category_name}}</option>
								{{/each}}
								</select>
							</div>
							</div>

							<div class="form-group">
		    				<label class="control-label" for="name">Brand</label>
		    				<div>
								<select id="brand_name" name="brand_name">
		    					{{#each rows.[1]}}
									<option value="{{this.brand_id}}">{{this.brand_name}}</option>
								{{/each}}
								</select>
							</div>
							</div

							<div class="form-group">
		    				<label class="control-label" for="name">Price</label>
		    				<div>
								<input id="product_price" name="product_price" type="number" placeholder="Product Price" class="form-control" required >
							</div>
							</div>

							<div class="form-group">
							<label class="control-label" for="phone">Description</label>
							<div>
								<textarea id="product_description" name="product_description" type="text" rows="3" placeholder="Write your description" class="form-control" required > </textarea>
							</div>
							</div>

							<div class="form-group">
		    				<label class="control-label" for="name">Tagline</label>
		    				<div>
								<input id="brand_tagline" name="brand_tagline" type="text" placeholder="Tagline" class="form-control">
							</div>
							</div>

							<div class="form-group">
		    				<label class="control-label" for="name">Product Image</label>
		    				<div>
								<input id="product_picture" name="product_picture" type="text" placeholder="Product Image" class="form-control">
							</div>
							</div>

							<div class="form-group">
		    				<label class="control-label" for="name">Warranty</label>
		    				<div>
								<input id="warranty" name="warranty" type="number" placeholder="Warranty" class="form-control" required >
							</div>
							</div>

							<div class="form-group">
							<div class="text-center">
								<button type="submit" class="btn btn-primary btn-lg" title="Submit">Submit</button>
							</div>
							</div>

					</div>
					</form>
		 </div>
	</div>
</div>	