<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center" style="margin-top: 25pt">>
			<div class="text-center">
				<a href="/brand/create"><button class="btn btn-primary btn-lg" title="Submit">Create Brand</button></a>
			</div>
		</div>
	</div>
	<div class="row">
		{{#each rows}}		
		<div class="responsive">
			<div class="container col-lg-12" style="margin-top: 25pt; width: 420pt; margin-right: 18pt" >			
				<div class="text">
					<h4>{{this.brand_name}}</h4>
					<textarea rows="7" readonly>{{this.brand_description}}</textarea>
				</div>
			 </div>
		</div>		
		{{/each}}
	</div>
</div>