<div class="container">
	<div class="row">
		<h1>Category List</h1>
		{{#each rows}}		
		<div class="responsive">
			<div style="margin-top: 25pt; width: 420pt; margin-right: 18pt" class="card card-body bg-info mb-3">
				<h3 style="color: black" readonly>{{this.category}}</h3>
			</div>
		</div>		
		{{/each}}
	</div>
	<div class="row">
		<div class="col-lg-12 text-center" style="margin-top: 25pt">
			<div class="text-center">
				<a href="/category"><button class="btn btn-primary btn-lg" title="Submit">ADD</button></a>
			</div>
		</div>
	</div>
</div>