<style>
table, th, td {
	border: 1px solid black;
}	
th {
	text-align: center;
}
</style>
<h1>{{title}}</h1>
<ul>

	<table style="width:100%">
		{{#rows}}
			<tr>
				<div class="row">
					<div class="col-sm-3">
					  <p>{{product_name}}</p>
					  <a href="/products/{{product_id}}" ><img src="{{picture}}" class="img-responsive" style="width:100%" alt="Image"></a>
					</div>
				  </div>
				</div><br>

			<tr>
		{{/rows}}

		<tbody>

		</tbody>
	</table>

</ul>