<style>
table, th, td {
	border: 1px solid black;
}	
th {
	text-align: center;
}
</style>

<body>
	<div class="container">
		<div class="row mx-4">
			<div class="col-lg-4 col-md-4 col-sm-12 mb-4 mx-auto">
				<div class="card bg-secondary text-light center">
					<ul>
						<table style="width:100%">
							{{#each data}}
								<tr>
									<div class="row">
										<div class="col-md-4">
											<a href="/products/{{this.product_id}}" >
												<img src="{{this.picture}}" class="img-responsive" style="width:100%" alt="Image">
												<div class="">
													<h6 class="card-title text-center my-3">{{this.product_name}}</h5>
												</div>
											</a>
										</div>
									  </div>
									</div><br>
								<tr>
							{{/each}}
						</table>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>